@import './component_skeletons/accordion.css';

.hero-text {
    font-size: 1.25rem;
    font-weight: 500;
    color: var(--secondary-color);
    margin: m-1;
    /* text-align: center; */
}

/* MENUS */
/* Base styles */
nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    margin: 0;
}

#nav-desktop {
    position: fixed;
    top: 0;
    width: 100vw;
    background-color: var(--secondary-color);
    box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
    display: none;
}

#nav-desktop ul li a {
    display: block;
    padding: 1rem 0;
    font-size: 1.25rem;
    text-decoration: none;
    color: var(--text-color);
}

#nav-desktop:hover {
    color: white
}

/* MENUS */
/* Responsive control */
@media screen and (min-width: 768px) {
    #nav-desktop {
        display: block;
    }

    #nav-mobile {
        display: none;
    }
}

#nav-mobile {
    position: fixed;
    bottom: 0;
    width: 100vw;
    background-color: var(--secondary-color);
    box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
}

#nav-mobile ul li a {
    display: block;
    padding: 1rem 0;
    font-size: 1.5rem;
    text-decoration: none;
}

/* import skeletons */
@import url("component_skeletons/card.css");

/* reusable containers */
.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}