/* CSS Variables to Define Colour Scheme */
:root {
    --primary-color: #2c3e50; /* Dark Blue */
    --secondary-color: #3498db; /* Bright Blue */
    --accent-color: #e74c3c; /* Red */
    --text-color: #333; /* Dark Grey */
    --background-color: #f5f5f5; /* Light Grey */
    --hover-color: #FF9A00 /* Text on Hover */
}

body {
    font-family: "Onest", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: var(--text-color); /* color applies to text */
    background-color: var(--background-color); /* Apply color to background */
}

/* Typography (Using Golden Ratio) */
h1 {
    font-size: 4.2rem; /* 2.6 x 1.618 rounded */
}

h2 {
    font-size: 2.6rem; /* h1 / φ */
}

h3 {
    font-size: 1.6rem; /* h2 / φ */
}

p {
    font-size: 1rem; /* h3 / φ */
    line-height: 1.6; /* keep rhythm readable */
}
