/* Default styles (Mobile First) */

.container {
    height: 100vh;
    /* Full viewport height */
    width: 80vw;
    /* 80% of the viewport width */
    margin: 0 auto;
    /* Centers the container horizontally */
}

/* Default styles (Mobile First) */
body {
    font-size: 16px;
}

/* Larger screens, tablets or desktops */

@media (min-width: 768px) {
    .container {
        width: 60vw;
        /* 60% of the viewport width */
    }
}